{{> header}}

<link rel="stylesheet" href="/dbstyle.css">

<div class="bloc">
  <nav class="mynav">
    <ul class="top">
      <li class="title">Deck Builder</li>
    </ul>
  </nav>

  <section class="cardsinbox">
    <h1>Deck: </h1>
    <img class="cards" src='{{link1}}'>
    <img class="cards" src="{{link2}}">
    <img class="cards" src="{{link3}}">
    <img class="cards" src="{{link4}}">
    <img class="cards" src="{{link5}}">
    <img class="cards" src="{{link6}}">
    <img class="cards" src="{{link7}}">
    <img class="cards" src="{{link8}}">
  </section>

  <section class="cardsoutbox">
    <h1>Cards: </h1>
    <img class="cards" src="{{link9}}">
    <img class="cards" src="{{link10}}">
    <img class="cards" src="{{link11}}">
    <img class="cards" src="{{link12}}">
    <img class="cards" src="{{link13}}">
    <img class="cards" src="{{link14}}">
    <img class="cards" src="{{link15}}">
    <img class="cards" src="{{link16}}">
    <img class="cards" src="{{link17}}">
    <img class="cards" src="{{link18}}">
    <img class="cards" src="{{link19}}">
    <img class="cards" src="{{link20}}">
    <img class="cards" src="{{link21}}">
    <img class="cards" src="{{link22}}">

  </section>
</div>

<div class="selector">
  
</div>
