{{> header}}

<link rel="stylesheet" href="/dbstyle.css">
<nav class="mynav">
  <ul class="top">
    <li class="title">Deck Builder</li>
    <li class="nav-item">Average DPS: </li>
    <li class="nav-item">Average Speed: </li>
    <li class="nav-item">Average Health: </li>
  </ul>
</nav>

<section class="cardsinbox">
  <h1>Deck: </h1>
  <img class="cardsin" src='{{link1}}'>
  <img class="cardsin" src="{{link2}}">
  <img class="cardsin" src="{{link3}}">
  <img class="cardsin" src="{{link4}}">
  <img class="cardsin" src="{{link5}}">
  <img class="cardsin" src="{{link6}}">
  <img class="cardsin" src="{{link7}}">
  <img class="cardsin" src="{{link8}}">
</section>

<section class="cardsoutbox">
  <h1>Cards: </h1>
  <img class="cardsout" src="{{link9}}">
  <img class="cardsout" src="{{link10}}">
  <img class="cardsout" src="{{link11}}">
  <img class="cardsout" src="{{link12}}">
  <img class="cardsout" src="{{link13}}">
  <img class="cardsout" src="{{link14}}">
  <img class="cardsout" src="{{link15}}">
  <img class="cardsout" src="{{link16}}">
  <img class="cardsout" src="{{link17}}">
  <img class="cardsout" src="{{link18}}">
  <img class="cardsout" src="{{link19}}">
  <img class="cardsout" src="{{link20}}">
  <img class="cardsout" src="{{link21}}">
  <img class="cardsout" src="{{link22}}">

</section>
